* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#000000;
    background-image:linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-ms-linear-gradient(top, #CCC 0%, #FFFFFF 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #CCC),
        color-stop(0.51, #FFFFFF)
    );
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/* header */
.ui-header > .ui-btn {
    padding: 7px 10px 11px;
    background:none;
    border:none;
    /*overflow:;*/
}
.ui-header .ui-title{

margin: .8em 30% .8em;

}

/* home page */

#logo{
    max-width:100%;
    margin:35px 0 0px;
}
.centerText{
    text-align:center;
}

.ui-grid-a .ui-block-a .ui-btn{
    margin-left: 0px;
}

.ui-grid-a .ui-block-b .ui-btn{
    margin-right: 0px;
}

/* map */
#second-page{
   
}
.big-text{
    font-size: 1.3em;
}
.small-text{
    font-size:0.8em;
}


.ui-btn-active {
    border: 1px solid       #1abc9c /*{global-active-border}*/;
    background:             #1abc9c /*{global-active-background-color}*/;
    font-weight: bold;
    color:                  #ffffff /*{global-active-color}*/;
    cursor: pointer;
    text-decoration: none;
  font-family: Lato, sans-serif
}


.ui-icon-ms-phone {
    background: url("../img/phone-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-question {
    background: url("../img/question-icon.png") 50% 50% no-repeat;
}
.ui-icon-ms-search {
    background: url("../img/search-icon.png") 50% 50% no-repeat;
}


/* New */
#home-page, #header {
    background: #000000;
}
#home-page #content {
    height: 70vh;
}
#conversation{
    background: rgba(238, 238, 238, 0.09);
    padding: .8em;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
    height: 40vh;
}
#conversation p{
    text-align: center;
    font-size: 20px;
    margin: 2px 0;
}
#conversation p.bot{ color: #0066ff; }
#conversation p.me{ color: #999999; }
.message div {
    padding: .3em .5em;
}
.message div {
    border-color: #010101 !important;
    background: #000000;
    font-size: 14px;
    margin: 0;
}
#message{ color: #0066ff; font-size: 20px; }
#send{

}
#bottom-navbar ul{
    margin: 0;
    padding: 0;
    display: block;
}
#bottom-navbar ul li.message{
    width: 90%;
}
#bottom-navbar ul li.btnSend{
    width: 10%;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #444444;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #444444;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #444444;
}
:-moz-placeholder { /* Firefox 18- */
  color: #444444;
}


/* face */
img.face{
    position: absolute;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    opacity: 0.5;
}
img.face.b{
    top: 30vh;
    max-width: 90%;
    margin: 0 auto;
}
img.face.nl{
    top: 26vh;
    left: 20px;
    max-width: 38%;
}
img.face.nr{
    top: 26vh;
    right:20px;
    max-width: 38%;
}
img.face.ol{
    top: 33vh;
    left: 20px;
    max-width: 38%;
}
img.face.or{
    top: 33vh;
    right:20px;
    max-width: 38%;
}